<ul class="nav-list">

  <li class="nav-list-item">
    <a class="nav-list-link" href="{{ '/' | relative_url }}">
      Tasks
    </a>

    <ul class="nav-list">

      <li class="nav-list-item">
        <a class="nav-list-link" href="{{ '/#reinforcement-learning-tasks' | relative_url }}">
          Reinforcement Learning
        </a>
      </li>

      <li class="nav-list-item">
        <a class="nav-list-link" href="{{ '/#decision-making-tasks' | relative_url }}">
          Decision Making
        </a>
      </li>

      <li class="nav-list-item">
        <a class="nav-list-link" href="{{ '/#executive-functioning-tasks' | relative_url }}">
          Executive Functioning
        </a>
      </li>

      <li class="nav-list-item">
        <a class="nav-list-link" href="{{ '/#tasks-not-upgraded-to-jspsych-version-8' | relative_url }}">
          Not upgraded to jsPsych v8
        </a>
      </li>

    </ul>
  </li>

  <li class="nav-list-item">
    <a class="nav-list-link" href="{{ '/#self-report-plugins' | relative_url }}">
      Self-Report Plugins
    </a>
  </li>

  <li class="nav-list-item">
    <a class="nav-list-link" href="{{ '/#utilities' | relative_url }}">
      Utilities
    </a>
  </li>

  <li class="nav-list-item">
    <a class="nav-list-link" href="{{ '/extensions' | relative_url }}">
      Extensions
    </a>
  </li>

  <li class="nav-list-item">
    <a class="nav-list-link" href="{{ '/stimuli' | relative_url }}">
      Stimuli
    </a>
  </li>

  <li class="nav-list-item">
    <a class="nav-list-link" href="{{ '/tutorials' | relative_url }}">
      Tutorials
    </a>
  </li>

</ul>