<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/assets/img/nivlab-favicon.png' | relative_url }}">

  {% include head-custom.html %}
</head>

<body>
  <img src="{{ '/assets/img/demos-header.png' | append: page.banner | relative_url }}" alt="Niv Lab banner"
    class="nivlab-banner">
  <div class="top-nav">
    <button class="nav-toggle" aria-label="Open menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav id="site-nav" class="site-nav" aria-label="Main">
      {% include nav.html %}
    </nav>
  </div>

  <main class="main-content">
    {{ content }}
    <br>
    <br>
    <footer>
      <p><small>View on <a href="{{ site.github.repository_url }}">GitHub</a> | Theme by <a
            href="https://github.com/orderedlist">orderedlist</a><br>Funding from <a
            href="https://ncats.nih.gov">NCATS</a> (UL1TR003017)</small></p>
    </footer>
  </main>


  <script src="{{ " /assets/js/scale.fix.js" | relative_url }}"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8GG0RKT54J"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-8GG0RKT54J');
  </script>
  <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
</body>

</html>